.card{
    display: flex;
    flex-direction: column;
    max-height: 260px;
    width: 150px;
  background-color: rgba(132, 202, 230, 0.864);
   padding: 20px;
   margin: 23px;
   border-radius: 9px;
   border: 4px double blue;
   position: relative;
}

.image{
    margin-top: 12px;
    height: 180px;
    width: 150px;
    padding-bottom:10px ;
    outline: 1px double rgb(18, 18, 19);
}

.title{
    text-align: center;
   text-decoration: none !important;
    color: black;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.heart-icon{
    position: absolute;
    bottom: 46px;
    left: 80px;
}